# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ci

on:
  push:
    branches:
      - master
    paths:
      # only run tests if package has changed
      - 'pyotf/**.py'
      - 'tests/**.py'
      - 'requirements.txt'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: [master]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # black 19 ---> 20 is incompatible
          pip install black==19.10b0 flake8 pydocstyle
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Check formatting with black
        run: |
          black --check . -l 99
      - name: Check docstrings
        run: |
          pydocstyle --count --convention=numpy

  test:
    needs: formatting
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # install pytest
          pip install pytest pytest-cov
          # install requirements
          pip install -r requirements.txt
          # install package
          pip install .
      - name: Test with pytest
        run: |
          pytest --doctest-modules pyotf/ tests/
